<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curso Flask</title>
</head>
<body>
    <div>
        <h3>Estudos</h3>
        <h5>nome:{{context.usuario}}</h5>
        <h5>idade:{{context.idade}}</h5>
    </div>
    <div>
        <p>Aula de desenvolvimento web</p><br>

        <h3>Mesmo Link</h3><br>
        <a href="/nova">Rota estática</a><br>
        <a href="{{url_for('newRoute')}}">Rota dinâmica</a><br><br>

        <h1>Rotas</h1>
        <a href="{{url_for('contatoCerto')}}">Formulário para contato</a><br>
        <a href="{{url_for('contatoLista')}}">Lista de Contatos</a>
    </div>
</body>
</html>